.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10em;
    width: 100vw;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}



.footer-left {
    font-size: 1.2em;
}

.footer-center {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    gap: 5px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
}

.top-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.top-button:hover {
    color: #007bff;
}